@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

// Colors
$app-primary-color: #04145c;
$app-secondary-color: #312c4d;
$app-body-color: white;
$app-header-color: hsl(0, 0%, 98%);
$app-hover-color: #edeef0;

// Radius
$app-main-radius: 12px;

