@import '../../../../styles/index';

// Reg Wrapper
.confirm_email_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
  border-radius: 20px;
  background: white;
}

// Title
.title {
  font-weight: 600;
  font-size: 40px;
  color: #09090b;
  text-align: center;
}

//Subtitle
.subtitle {
  width: 100%;
  text-align: center;
  color: #71717a;
  font-size: 20px;
  padding-bottom: 10px;
}

// Form
.form {
  width: 400px;
  height: auto;
}

.code {
  width: 100%;
  margin-bottom: 8px;
  font-weight: 500;
  padding: 5px;
}

// Reg Button
.button_wrapper {
  display: flex;
  justify-content: center;
}

.confirm_email_button {
  width: 100%;
}

// To Login
.to_reg {
  position: absolute;
  top: 35px;
  right: 45px;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 30px;
  color: black;
  border: none;
  background: transparent;
}



