@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
.layout_wrapper {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 320px 640px 320px;
  grid-template-rows: auto 200px;
  grid-template-areas: "sidebar view live" "footer view live";
}

.container {
  width: 1280px;
  height: calc(100% - 60px);
  margin: 0 auto;
}

.header {
  grid-area: header;
  height: 60px;
  background: white;
  border-bottom: 1px solid #eeeeee;
}

.header_layout {
  width: 1280px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_inner {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 33px;
  font-family: "Space Grotesk", sans-serif;
  color: black;
  border-radius: 12px;
}
.logo_inner img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50px;
}

.search {
  width: 640px;
}
.search input {
  font-weight: 600;
}

.right {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  margin: 0 0 0 10px;
}

.notifications {
  font-size: 27px;
  border-radius: 50px;
  padding: 10px;
}

.notifications:hover {
  background: #eeeeee;
}

.sidebar {
  grid-area: sidebar;
}

.items {
  width: 250px;
  margin: 10px auto;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 21px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  color: black;
}

.active {
  background: white;
  color: black;
  font-weight: 700;
}
.active i {
  color: black;
}

.item:hover {
  background: white;
  color: black;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.create {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.create_btn {
  font-size: 25px;
  font-weight: 600;
}

.create:hover {
  background: transparent;
  color: transparent;
}

.name {
  margin-left: 12px;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: view;
  height: 100%;
}

.live {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: live;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  width: 320px;
  font-size: 12px;
}

.footer_inner {
  width: 220px;
}

.mobile_sidebar {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  border-top: 1px solid #cac5cd;
  background: white;
  z-index: 2;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.mobile_create {
  position: absolute;
  bottom: 55px;
  right: 5px;
  color: white;
  border-radius: 30px;
  background: black;
  padding: 15px;
  font-size: 19px;
}

.mobile_item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  color: black;
  font-size: 22px;
}

.mobile_active {
  color: black;
  background: none;
}

@media (max-width: 1285px) {
  .header_layout,
  .container {
    width: 1023px;
  }
  .live,
  .right {
    display: none;
  }
  .search {
    width: 700px;
  }
  .layout {
    grid-template-columns: 320px 703px;
    grid-template-areas: "sidebar view" "footer view";
  }
}
@media (max-width: 1023px) {
  .header_layout,
  .container {
    width: 884px;
  }
  .layout {
    grid-template-columns: 3fr 7fr;
  }
  .logo {
    width: 45vw;
  }
  .search {
    margin: 0 10px;
  }
}
@media (max-width: 915px) {
  .layout_wrapper,
  .container,
  .header_layout {
    width: 100%;
  }
  .sidebar,
  .footer,
  .search_wrapper,
  .header_tools_wrapper,
  .search {
    display: none;
  }
  .layout {
    grid-template-areas: "view view";
  }
  .mobile_sidebar {
    display: flex;
  }
  .view {
    height: calc(100vh - 60px);
    width: 100vw;
    padding: 10px 10px 55px 10px;
  }
  .logo {
    width: auto;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .logo_inner {
    justify-content: flex-start;
    font-size: 30px;
  }
  .logo_inner img {
    width: 45px;
    height: 45px;
  }
}

/*# sourceMappingURL=MainLayout.module.css.map */
