@import '../../../../styles/index';

// Login Wrapper
.login_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 30px;
	border-radius: 20px;
	background: white;
}

// Title
.title {
	font-weight: 600;
	font-size: 40px;
	color: #09090b;
	text-align: center;
}

//Subtitle
.subtitle {
	text-align: center;
	color: #71717a;
	font-size: 20px;
	padding-bottom: 10px;
}

// Form
.form {
	width: 400px;
	height: auto;
}

.username,
.password {
	width: 100%;
	margin-bottom: 8px;
	font-weight: 500;
	padding: 5px;
}

// Reg Button
.button_wrapper {
	display: flex;
	justify-content: center;
}

.login_button {
	width: 100%;
}

// To Login
.to_reg {
	position: absolute;
	top: 55px;
	right: 55px;
	border-radius: 20px;
	padding: 5px 10px;
	font-weight: 600;
}

.to_reg:hover {
	background: hsl(0, 0%, 71%);
	cursor: pointer;
}

/* Media */

/* Widescreen Begin  */
@media (max-width: 1407px) {
}

/* Desktop Begin  */
@media (max-width: 1285px) {
}

/* Tablet Begin */
@media (max-width: 1023px) {
}

/* Mobile Begin */
@media (max-width: 475px) {
	.login_wrapper {
		width: 400px;
	}
}
